<!-- Menu -->
<div id="right-menu-gis">
  <div class="pattern-right-menu">
    <gis-layerSwitcher></gis-layerSwitcher>
    <gis-control></gis-control>
    <gis-zoom-bar></gis-zoom-bar>
    <gis-identify></gis-identify>
    <gis-spegni-vettoriali></gis-spegni-vettoriali>
    <gis-carica-vettoriali></gis-carica-vettoriali>
    <gis-misura></gis-misura>
    <gis-map-navigator></gis-map-navigator>
    <gis-settings></gis-settings>
    <gis-carica-layer-storico></gis-carica-layer-storico>
  </div>
</div>