<div class="ui-g">

  <div class="ui-g-6">
    <div class="back-button">
      <button *ngIf="stepEvent.stepIndex > 0" pButton label="INDIETRO" (click)="indietro()" class="blue-grey-btn"
        icon="pi pi-chevron-circle-left" iconPos="left"></button>
      <div class="ui-g-3">
        <button appDebounceClick pButton *ngIf="stepEvent.stepIndex == 0" label="AGGIORNA" (debounceClick)="aggiorna()"
          class="orange-btn" icon="ui-icon-edit"></button>
      </div>
      <div class="ui-g-3">
        <button appDebounceClick pButton *ngIf="stepEvent.stepIndex == 0" label="CANCELLA" (debounceClick)="cancella()"
          class="red-btn" icon="ui-icon-delete-forever"></button>
      </div>
    </div>
  </div>
  <div class="ui-g-6">
    <button appDebounceClick [disabled]="!isProtocollaReady" *ngIf="stepEvent.stepIndex == 6" pButton
      label="PROTOCOLLA DOMANDA" (debounceClick)="procedi()" icon="pi pi-chevron-circle-right" iconPos="right"
      style="float: right;"></button>
    <div class="next-button">
      <button appDebounceClick *ngIf="stepEvent.stepIndex < 6" pButton label="PROCEDI" (debounceClick)="procedi()"
        icon="pi pi-chevron-circle-right" iconPos="right"></button>
    </div>
  </div>
</div>
<!-- p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast-->
<p-toast position="center" key="aggiornaDichiarazione" (onClose)="onRejectAggiornaDichiarazione()" [modal]="true"
  [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onConfirmAggiornaDichiarazione()" label="Si"
          class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onRejectAggiornaDichiarazione()" label="No"
          class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="center" key="cancellaDichiarazione" (onClose)="onRejectCancellaDichiarazione()" [modal]="true"
  [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onConfirmCancellaDichiarazione()" label="Si"
          class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onRejectCancellaDichiarazione()" label="No"
          class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>