<div class="layout-footer ui-g-12">
  <div class="ui-grid-fixed">

    <div class="ui-g-12">
      <div class="ui-g-6 left-col">
        <a>
          <img class="logoimg" alt="logo-colored" src="assets/layout/images/logo_footer.png" />
        </a>
        <span class="footer-text-left">
          <span>Sistema Informativo Integrato Agricoltura</span>
        </span>
      </div>
      <div class="ui-g-6 text-right">
        <a href="http://www.provincia.tn.it/" target="_blank">
          <img class="logoimg" alt="logo-colored" src="assets/layout/images/logo_provincia_footer.png" />
          <span class="footer-text-right">
            <span>Provincia Autonoma di Trento</span>
          </span>
        </a>
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-6 left-up">
        <h4>Recapiti e Contatti</h4>
        <p class="under-text">
          Provincia Autonoma di Trento<br> 
          Agenzia Provinciale per i Pagamenti<br>
          Via Trener 3 - 38121 Trento<br>
        </p>
      </div>
      <div class="ui-g-6 right-up">
        <h4>Richiedi supporto</h4>
        <img
          class="mail"
          alt="mail"
          src="assets/layout/images/mail-icon.png">
        <span class="under-text">
          siap@provincia.tn.it
        </span>
      </div>
    </div>

    <div class="ui-g-12 next-row">
      <div class="ui-g-6 left-bottom">
        <a href="http://www.provincia.tn.it/accessibilita/" target="_blank" class="footer-bottom-text">Accessibilit&agrave;</a>
        <a [routerLink]="" (click)="downloadInformativaPrivacy()" class="footer-bottom-text">Privacy</a>
        <a href="http://www.provincia.tn.it/informativa_cookie/" target="_blank" class="footer-bottom-text">Cookie Policy</a>
      </div>
      <div class="ui-g-6 right-bottom text-right">
        <a class="footer-bottom-text-right">2018 - Tutti i diritti riservati</a>
      </div>
      <div align="center">
        <a class="footer-bottom-text-right">servizi realizzati da
          <a href="https://www.trentinodigitale.it/" target="_blank" class="footer-bottom-text-right">Trentino Digitale SpA</a>
        </a>
      </div>
    </div>

    <!-- <div styleClass="ui-card-shadow">
          <a>
              <img alt="logo-colored" src="assets/layout/images/logoAPPAG.jpg" style="width:5%" />
          </a>
          <span class="footer-text-right">
              <span class="large-material-icons">copyright</span>
              <span>All Rights Reserved</span>
          </span>
      </div> -->
  </div>
</div>