<p-dialog
  [(visible)]="popupVisibile"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [closable]="true"
>
  <p-header>
    {{ "SOSTEGNO.AGGREGATO_SUPERFICI_PER_INTERVENTO" | translate }}
  </p-header>
  <p-table
    #tableAggregati
    [columns]="cols"
    [value]="datiAggregati"
    [autoLayout]="true"
    [paginator]="false"
    [responsive]="true"
    tableStyleClass="mb-3"
  >
    <ng-template pTemplate="caption">
      <div class="d-flex">
        <button
          type="button"
          pButton
          icon="pi pi-file"
          iconPos="left"
          label="{{ 'EXPORT_CSV' | translate }}"
          (click)="tableAggregati.exportCSV()"
          style="margin-right: 0.5em;"
          class="ml-auto"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-file"
          iconPos="left"
          label="{{ 'EXPORT_PDF' | translate }}"
          (click)="exportPdf(tableAggregati)"
          style="margin-right: 0.5em;"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header | translate }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-statisticaDto let-columns="columns">
      <tr [pSelectableRow]="statisticaDto">
        <!-- <td *ngFor="let col of columns">
            {{statisticaDto[col.field]}}
        </td> -->
        <td>{{ statisticaDto.intervento }}</td>
        <td>{{ statisticaDto.superficie | number: "1.0-4":"it" }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="5">dati non presenti</td>
      </tr>
    </ng-template>
  </p-table>
  <p-footer>
    <button
      type="button"
      pButton
      class="btn btn-darkgreen mt-0 mr-0"
      (click)="closePopup()"
      label="{{ 'chiudi' | translate }}"
    ></button>
  </p-footer>
</p-dialog>
