app-ricerca-fascicoli-da-migrare {  
    .command-button.command-button.command-button {
      font-size: 22px !important;
      height: auto !important;
      width: auto !important;
      background-color: #4caf50 !important;
    }
  
    h1 {
      color: #0d5f3f;
    }
  
    .ui-table .ui-table-tbody > tr {
      background-color: transparent;
    }
  }
  