app-ricerca-fascicoli-da-migrare {  
    .command-button.command-button.command-button {
      font-size: 22px !important;
      height: auto !important;
      width: auto !important;
      background-color: #093956 !important;
    }
  
    h1 {
      color: #093956;
    }
  
    .ui-table .ui-table-tbody > tr {
      background-color: transparent;
    }
  }
  