<div [ngSwitch]="anagrafica.fonte === fonteEnum.REGISTRO_IMPRESE">
        <div *ngSwitchCase="true">
                <div class="ui-g-12 boxgrey">
                        <div>
                                <div class="ui-g-3 box-padded">
                                        <strong>{{'NUMERO_RI' | translate }}</strong>
                                </div>
                                <div class="ui-g-3 box-padded">
                                        {{anagrafica.numIscrizioneRegImprese || 'ND' | translate}}
                                </div>
                                <div class="ui-g-3 box-padded">
                                        <strong>{{'DATA_RI' | translate }}</strong>
                                </div>
                                <div class="ui-g-3 box-padded">
                                        {{anagrafica.dataIscrizioneRegImprese? (anagrafica.dataIscrizioneRegImprese | date: "dd/MM/yyyy") : 'ND' | translate}}
                                </div>
                                <div class="ui-g-3 box-padded">
                                        <strong>{{'NREA' | translate }}</strong>
                                </div>
                                <div class="ui-g-3 box-padded">
                                        {{anagrafica.codiceREA || 'ND' | translate}}
                                </div>
                                <div class="ui-g-3 box-padded">
                                        <strong>{{'CCIAA' | translate }}</strong>
                                </div>
                                <div class="ui-g-3 box-padded">
                                        {{anagrafica.siglaProvinciaREA || 'ND' | translate}}
                                </div>
                        </div>
                </div>
        </div>
        <div *ngSwitchCase="false">
                <div class="ui-g-12">
                        <p-checkbox [(ngModel)]="checkEsenzioneAnagrafeTributaria"
                                label="{{'FAS_ANA.ESENZIONE_ISCRIZIONE_CCIAA' | translate}}" binary="true"></p-checkbox>
                </div>
        </div>
</div>