/** replica variabili dichiarate in theme-green.1.scss per evitare warning sul Budget */
$primaryColor: #093956;
$primaryDarkColor: #093956;
$primaryLightColor: #81c784;
$primaryLightestColor: #e8f5e9;
$primaryTextColor: #ffffff;
$accentColor: #05263e;
$accentDarkColor: #9ccc65;
$accentLightColor: #9ccc65;
$accentTextColor: #ffffff;
/** end */
$lightgray: #cacaca;
$accentColor: #05263e;
$accentHoverColor: #e8e8e8;
$black: #000000;
$warn: #ffba01;
$warnText: #a1887f;