<div class="p-grid p-justify-between" id="buttongis">
  <div class="p-col-3">
    <div class="box">
      <gis-scala></gis-scala>

    </div>
  </div>

  <div class="p-col-4">
    <div class="p-grid" style="height: 0;">
      <div class="p-col-3 coordinate-input">
        <div class="box">
          <div class="custom-mouse-position" id="mouse-position"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-col-4">
    <gis-anno-campagna></gis-anno-campagna>
    <div class="box" style="font-family: 'Titillium Web', sans-serif !important;float: right;
    font-size: 16px !important; color:#093956b8;"> <i class="fa fa-globe"> </i> <strong>EPSG:25832</strong></div>
  </div>
</div>