<p-dialog
    [visible]="visible$ | async"
    (visibleChange)="onCancel()"
    [modal]="true"
    header="Attenzione"
>
    Salvare le modifiche?
    <p-footer>
        <button
            type="button"
            pButton
            icon="pi pi-check"
            (click)="onSave()"
            label="Sì"
        ></button>
        <button
            type="button"
            pButton
            icon="pi pi-times"
            (click)="onDiscard()"
            label="No"
        ></button>
        <button
            type="button"
            pButton
            icon="pi pi-sign-out"
            (click)="onCancel()"
            label="Annulla"
        ></button>
    </p-footer>
</p-dialog>
