<div class="ui-g ui-fluid">
    <div class="ui-grid-fixed">
        <div class="ui-g-3">
            <a class="square-box" routerLink="../gestioneUtenze">
                <img src="assets/img/icons/svg/icon-gestione-utenti.svg" />
                <p>Gestione Utenze<br /></p>
            </a>
        </div>
        <div class="ui-g-3">
            <a class="square-box" routerLink="../ricercaUtenti">
                <img src="assets/img/icons/svg/icon-ricerca-utenti.svg">
                <p>Ricerca Utenti<br /></p>
            </a>
        </div>
    </div>
</div>
