<app-popup-scarica-elenchi-uma #popupScaricaElenchiUma></app-popup-scarica-elenchi-uma>

<div class="ui-g ui-fluid">
  <div class="p-grid ui-grid-fixed">
    <div class="p-col">

      <!-- SEPARATORE -->
      <hr
        *ngIf="displayCardCercaFascicolo"
        align="center"
        size="1"
        width="100%"
        color="black"
        noshade>

      <!-- SEZIONE DOMANDE -->
      <div
        class="p-grid p-align-center"
        *ngIf="displayCardCercaFascicolo">
        <div class="p-col-4">
          <H5>
            <img
              src="assets/img/icons/svg/icon-cerca-fascicolo.svg"
              class="d-inline-block mr-3">
            <b>{{ 'FascicoloAziendale.DOMANDE' | translate | titlecase }}</b>
          </H5>
        </div>
        <div class="p-col-8">
          <table>
            <tbody class="ui-table-tbody display-table">
              <tr>
                <td class="p-col-12">
                  <a routerLink="../ricercaFascicolo">
                    {{ 'FascicoloAziendale.PRESENTA_DOMANDA' | translate }}
                    <i class="pi pi-arrow-right"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>

      <!-- SEPARATORE -->
      <hr
        *ngIf="displayCardConsultazioneUma"
        align="center"
        size="1"
        width="100%"
        color="black"
        noshade>

      <!-- SEZIONE CARBURANTE AGRICOLO -->
      <div
        class="p-grid p-align-center"
        *ngIf="displayCardConsultazioneUma">
        <div class="p-col-4">
          <H5>
            <img
              src="assets/img/icons/svg/icon-domanda-uma.svg"
              class="d-inline-block mr-3">
            <b>{{ 'UMA.CARBURANTE_AGRICOLO' | translate }}</b>
          </H5>
        </div>
        <div class="p-col-8">
          <table>
            <tbody class="ui-table-tbody display-table">
              <tr>
                <td class="p-col-12">
                  <a routerLink="../consultazioneUMA">
                    {{ 'UMA.ELENCO_DOMANDE' | translate }}
                    <i class="pi pi-arrow-right"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="p-col-12">
                  <a (click)="openDialogScarica()">
                    {{ 'UMA.SCARICA_ELENCHI' | translate }}
                    <i class="pi pi-arrow-right"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>

      <!-- SEPARATORE -->
      <hr
        *ngIf="displayCardSuolo"
        align="center"
        size="1"
        width="100%"
        color="black"
        noshade>

      <!-- SEZIONE USO SUOLO -->
      <div
        class="p-grid p-align-center"
        *ngIf="displayCardSuolo">
        <div class="p-col-4">
          <H5>
            <img
              src="assets/img/icons/svg/icon-ricerca-utenti.svg"
              class="d-inline-block mr-3">
            <b>{{ 'FascicoloAziendale.USO_SUOLO' | translate }}</b>
          </H5>
        </div>
        <div class="p-col-8">
          <table>
            <tbody class="ui-table-tbody display-table">
              <tr>
                <td class="p-col-12">
                  <a routerLink="../gis">
                    {{ 'FascicoloAziendale.RICHIESTA_USO_SUOLO' | translate }}
                    <i class="pi pi-arrow-right"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>

    </div>
  </div>
</div>
