<div class="p-field mgTop10"> 
	<h3 *ngIf="viewLabel()" style="color: #30373D; font-size: 18px; font-weight: bold;"> Allegati </h3>
	<div class="upload-attachments" *ngIf="!richiestaConclusa()">
		<div class="container">
			<input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files)" />	
			<div class="action">
				<i class="pi pi-cloud-upload" style="font-size: 65px;color: #9c9c9c;"></i>
				<h6>Trascina i tuoi file qui oppure </h6>&nbsp;
				<span> clicca per scegliere un file</span>
				<!-- <label for="fileDropRef">Sfoglia</label>. -->
			</div>
		</div>
		<div class="files-list">
			<div class="single-file" *ngFor="let file of files; let i = index">
				<div class="info" *ngIf="!initFile">
					<span class="name">
						{{ file?.name }}
					</span>
					<i class="pi pi-times-circle" style="font-size: 25px;" (click)="deleteFile(i);fileDropRef.value = null"></i>
					<p class="size">
						{{ formatBytes(file?.size) }}
					</p>
					<gis-upload-attachments-progress [progress]="file?.progress"></gis-upload-attachments-progress>
					<span *ngIf="file?.progress == 100">
						<textarea [(ngModel)]="descrizioneAllegato" placeholder="Aggiungi descrizione file"  class="form-control"></textarea>
					</span>
				</div>
			</div>
		</div>
		<div class="files-list-footer" *ngIf="!initFile">
			<button pButton type="button" (click)="salvaAllegati();fileDropRef.value = null" label="Salva" class="gis-button" *ngIf="descrizioneAllegato && descrizioneAllegato.length > 0"></button>
		</div>
	</div>
</div>