.tableBorder{
    border-top: 2px solid #093956;
}

.h5Title{
    padding-top: 20px;
}

.tdAnalisiLatte{
    text-align: center;
}

.valoriMediTitle{
    width: 20%;
}

.valoriMedi{
    text-align: left;
}

.tdDataAlpeggio{
    border-right: 1px solid lightgray;
}