<div class="ui-g ui-fluid">
  <div class="ui-grid-fixed">
    <div class="ui-g-3">
      <a class="square-box" routerLink="../domandeScadenze">
        <img src="assets/img/icons/svg/icon-domanda-antimafia.svg" />
        <p>Dichiarazioni<br /> Antimafia</p>
      </a>
    </div>
    <div class="ui-g-3">
      <a class="square-box" routerLink="../ibanErratiDu">
        <img src="assets/img/icons/svg/icon-iban-1.svg" />
        <p>IBAN Errati<br /> Domanda Unica</p>
      </a>
    </div>
  </div>
</div>