<section class="container  pt-3  mb-2">
  <h2 class="h6 text-uppercase text-primary fw-700  mt-2  mb-4">{{'common.avanzamento_istruttoria' | translate}}
  </h2>
</section>
<div *ngFor="let statoDomanda of statiDomandaPsr">
  <app-card-dettaglio-pagamento [statoDomandaPsr]="statoDomanda">
    <app-istruttoria-domanda-psr-superficie-debiti *ngIf="debitiForStatoDomanda.get(statoDomanda)"
                                                   [debiti]="debitiForStatoDomanda.get(statoDomanda)"></app-istruttoria-domanda-psr-superficie-debiti>
    <app-istruttoria-domanda-psr-superficie-costi
      [importoLiquidato]="statoDomanda.importoLiquidato"
      [showDivider]="debitiForStatoDomanda.get(statoDomanda) != null || canShowCalculatedAmount(statoDomanda)"></app-istruttoria-domanda-psr-superficie-costi>
  </app-card-dettaglio-pagamento>
</div>

<div class="timeline-item has--date footer">
  <span class="timeline-item__date">{{domandaPsr.dataPresentazione | date: "d MMMM y"}}</span>
  <div class="timeline-item__footer">{{'DETTAGLIO_ISTRUTTORIA.PRESENTAZIONE_DOMANDA_PSR' | translate}}</div>
</div>
