<div class="ui-g ui-fluid">
  <div class="ui-grid-fixed boxgrey">
    <div class="layout-actionmenu">
      <h2 class="richiesta-title">
        <div>{{ title }}</div>
      </h2>
      <div class="ui-g ui-fluid">
        <div class="boxgrey">
          <div class="">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <div class="ui-g-12 ui-md-1" style="padding: 18px;">
                <label class="labelricerca">{{labels.cuaaSigla}}</label></div>
              <div class="ui-g-12 ui-md-4">
                <input type="text" [(ngModel)]="cuaa" (ngModelChange)="cuaa = $event.toUpperCase()" name="cuaa" pInputText appValidaCuaaCompleto>
              </div>
              <div class="ui-g-12 ui-md-3">
                <div class="searchbutton">
                    <button pButton type="button" class="ui-button-success" type="submit"
                    [disabled]="!f.valid || !f.value.cuaa">
                    <div>{{ titleBtn }}</div>
                    </button>
                </div>
              </div>
              <!-- <div class="ui-g-12 ui-md-3">
                <div class="searchbutton">
                  <button pButton type="button" class="ui-button-success" [disabled]="!f.valid || !f.value.cuaa"
                    (click)="importaFascicoloV2(f)">Crea fascicolo V2</button>
                </div>
              </div> -->
            </form>
            <!-- Vecchio, faceva la ricerca su PARIX/AGENZIA DELLE ENTRATE e mostrava i dati relativi il fascicolo -->
            <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <div class="ui-g-12 ui-md-1" style="padding: 18px;">
                <label class="labelricerca">{{labels.cuaaSigla}}</label></div>
              <div class="ui-g-12 ui-md-4">
                <input type="text" [(ngModel)]="cuaa" name="cuaa" pInputText appValidaCuaaCompleto>
              </div>
              <div class="ui-g-12 ui-md-3">
                <div class="searchbutton">
                  <button pButton type="button" class="ui-button-success" type="submit"
                    [disabled]="!f.valid || !f.value.cuaa">{{labels.cercaInParixEAgenziaEntrate}}</button>
                </div>
              </div>
            </form> -->
          </div>
          <p-toast key="tst" [style]="{ marginTop: '70px' }"></p-toast>
        </div>
      </div>
    </div>
  </div>
</div>
