.boxgrey h5 {
    color: #093956;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.boxgrey div > h5 {
    border-bottom: 2px solid #093956;
}

.boxgrey p-button{
    display: inline !important;
}

.badgesGreen {
    background: #05263e;
    line-height: 0px;
    color: #fff;
    font-size: 13px;
    border-radius: 30px;
    display: inline;
    padding: 0px 7px;
}


.checkbox {
    padding: 10px;
}