<div class="ui-g ui-fluid">
  <p-toast
    position="center"
    key="warn-already-uploadedFile-caa"
    [modal]="true"
    [baseZIndex]="5000">
    <ng-template
      let-messageService
      pTemplate="messageService">
      <div style="text-align: center">
        <i
          class="pi pi-exclamation-triangle"
          style="font-size: 3em"></i>
        <h3>{{messageService.summary}}</h3>
        <p>{{messageService.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-6">
          <button
            type="button"
            pButton
            (click)="onConfirmHasAlreadyUploadedFile()"
            label="Si"
            class="ui-button-success"></button>
        </div>
        <div class="ui-g-6">
          <button
            type="button"
            pButton
            (click)="onRejectHasAlreadyUploadedFile()"
            label="No"
            class="ui-button-secondary"></button>
        </div>
      </div>
    </ng-template>
  </p-toast>
  <div class="ui-g-12 ui-lg-12">
    <p-panel [toggleable]="true">
      <p-header>
        {{title}}
        <button
          pButton
          type="button"
          icon="ui-icon-close"
          title="Elimina"
          class="remove-btn"
          (click)="removeMe()"></button>
      </p-header>
      <form
        #f="ngForm"
        (ngSubmit)="onSubmit(f)">
        <fieldset [disabled]="disabled">
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-6 ui-lg-6">
              <label for="enti">Caa/Sedi *</label>
              <p-tree
                *ngIf="entiCaaTreeNode"
                [style]="{width: '100%', height: '300px', overflow: 'auto', display: 'block'}"
                [value]="entiCaaTreeNode"
                selectionMode="checkbox"
                [(selection)]="selectedNodes"></p-tree>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6">
              <label>Responsabile *</label>
              <input
                type="text"
                [(ngModel)]="responsabile"
                name="responsabile"
                pInputText
                required>

              <div class="ui-g-12 ui-md-12">
                <label>Autorizzazione</label>
                <button
                  pButton
                  type="button"
                  icon="ui-icon-file-download"
                  label="Scarica Modello Autorizzazione"
                  (click)="downloadFile()"></button>
                <button
                  pButton
                  type="button"
                  icon="{{icon}}"
                  label="Carica Autorizzazione Firmata"
                  (click)="verifyUploadFile();"
                  [disabled]="!(responsabile && selectedNodes)"></button>
                <input
                  type="file"
                  style="display:none"
                  #upFileCAA
                  id="upFileCAA"
                  name="upFileCAA"
                  multiple="false"
                  accept="{{fileExt}}"
                  (change)="uploadFile($event)">
              </div>
            </div>
            <div>
              <p-fieldset align="justify">
                <p-header>Attenzione</p-header>
                Selezionare > per visualizzare l'elenco delle sedi del CAA e scegliere la voce desiderata.
                <br>
                Digitare il nominativo del Responsabile della struttura.
                <br>
                Scaricare e compilare il modulo per l'autorizzazione (premere il pulsante Scarica Modello Autorizzazione).
                <br>
                Importare tale documento firmato dal Responsabile con allegato, in formato PDF, il documento d'identità dello stesso (premere il pulsante Carica Autorizzazione Firmata)
              </p-fieldset>
            </div>
          </div>
        </fieldset>
      </form>
    </p-panel>
  </div>
</div>
