

.inputUploadFile{
    width: 80px !important;
}

.right {
    float: right;
}

.dropdown {
    color: green !important;
}


body .ui-widget-header {
    background-color:  #ffffff !important;
}
.ui-widget-header {
    background-color:  #ffffff !important;
}