:host {
    button.box__button.position-relative 
   i.to__right {
      position: absolute;
      right: .5em;
    }
  
    .cursor-pointer {
      cursor: pointer;
    }
  
    .mt-1m {
      margin-top: 1em;
    }
  
    .w-20m{
      width: 20em;
    }
  }
  