$color-black: #000000;
$color-dark: #30373d;
$color-white: #ffffff;

$color-primary: #01985A;
$color-bg-gray: #D8D8D8;
$color-borders: $color-bg-gray;

$font-default: "Titillium Web", Arial, Helvetica, sans-serif;

$card-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
