<form *ngIf="importiForm" [formGroup]="importiForm" (ngSubmit)="onSubmit()">
  <p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
  <p-toast position="center" key="checkSalvataggio" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div style="text-align: center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
        <h3>{{message.summary}}</h3>
        <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-6">
          <button type="button" type="submit" pButton (click)="confermaSalvataggio()" label="Si"
            class="ui-button-success"></button>
        </div>
        <div class="ui-g-6">
          <button type="button" pButton (click)="rejectSalvataggio()" label="No" class="ui-button-secondary"></button>
        </div>
      </div>
    </ng-template>
  </p-toast>
  <div class="boxgrey">
    <div class="d-flex  align-items-center">
      <span class="icon  icon--p  icon--dark  icon--l  mr-3">
        <span class="icon__img">
          <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44">
            <g fill="#FFF" fill-rule="evenodd" transform="translate(.333 .333)">
                <path d="M43.333 1.354V0h-2.539v1.354c0 3.194-2.34 5.85-5.396 6.348H7.935C4.88 7.205 2.54 4.548 2.54 1.354V0H0v1.354c0 2.86 1.346 5.413 3.438 7.057C1.398 9.468 0 11.598 0 14.049v3.894h3.893c1.603 0 3.067-.598 4.185-1.581L9.026 34.9c.242 4.728 4.14 8.432 8.876 8.432h7.53c4.735 0 8.633-3.704 8.875-8.432l.948-18.54c1.118.984 2.583 1.582 4.185 1.582h3.893v-3.894c0-2.451-1.398-4.581-3.437-5.638 2.091-1.644 3.437-4.196 3.437-7.057zM7.702 11.595c0 2.1-1.709 3.809-3.809 3.809H2.54v-1.355c0-2.1 1.709-3.808 3.809-3.808h1.354v1.354zm24.07 23.176c-.174 3.377-2.958 6.023-6.34 6.023h-7.53c-3.382 0-6.167-2.646-6.34-6.023l-.114-2.224c2.64-2.833 6.335-4.448 10.219-4.448 3.883 0 7.578 1.615 10.218 4.448l-.114 2.224zm.282-5.53c-2.917-2.364-6.576-3.681-10.387-3.681-3.812 0-7.47 1.317-10.388 3.68l-.972-19h22.719l-.972 19zm8.74-15.192v1.355H39.44c-2.1 0-3.808-1.709-3.808-3.809v-1.354h1.354c2.1 0 3.808 1.708 3.808 3.808z"/>
                <circle cx="17.435" cy="36.563" r="1.693"/>
                <circle cx="25.898" cy="36.563" r="1.693"/>
                <circle cx="14.896" cy="19.128" r="1.693"/>
                <circle cx="28.438" cy="19.128" r="1.693"/>
            </g>
          </svg>
        </span>
      </span>
      <h3 class="mr-auto  mb-0  pb-0">Configurazione Accoppiato zootecnia</h3>
      <button *ngIf="!edit" type="button" class="btn btn-white  w-auto  fs-16  mb-0" (click)="modifica()">MODIFICA</button>
      <button *ngIf="edit" type="button" class="btn  btn-green fs-16  mr-2" (click)="annulla()">ANNULLA</button>
      <button *ngIf="edit" type="button" class="btn btn-green fs-16" (click)="salva()"
        [disabled]="!form1Valid || !form2Valid || !form3Valid">SALVA</button>
    </div>

    <hr size="6" color="green" />

    <h4 class="fs-16  fw-700  my-3">Vacche da latte</h4>
    <app-tabella-interventi-acz [interventiControllo]="interventiVaccheDaLatte"
      [interventoAggregato]="interventoAggregato" [edit]="edit"
      (formValid)="setValidForm1($event)">
    </app-tabella-interventi-acz>

    <hr size="6" color="green" class="mt-5" />
    <h4 class="fs-16  fw-700  my-3">Macellazione</h4>
    <app-tabella-interventi-acz [interventiControllo]="interventiMacellazione"
      [interventoAggregato]="interventoAggregato" [edit]="edit"
      (formValid)="setValidForm2($event)">
    </app-tabella-interventi-acz>

    <hr size="6" color="green" class="mt-5" />
    <h4 class="fs-16  fw-700  my-3">Ovi caprini</h4>
    <app-tabella-interventi-acz [interventiControllo]="interventiOviCaprini" [interventoAggregato]="interventoAggregato"
      [edit]="edit" (formValid)="setValidForm3($event)">
    </app-tabella-interventi-acz>
  </div>
</form>