<p-dialog
  #dialog
  id="popup-ricerca-clienti-contoterzi"
  [(visible)]="display"
  [focusOnShow]="false"
  width="550"
  [modal]="true"
  [closable]="false"
  [closeOnEscape]="true"
  (onHide)="onHideDialog()"
  position="top"
  [contentStyle]="{'overflow':'auto','max-height':'500px'}"
  header="{{ 'UMA.DICHIARAZIONE_CONSUMI.ATTENZIONE' | translate
  | uppercase }}"
  [dismissableMask]="true">
  <p-toast
    key="tst-dialog"
    [style]="{marginTop: '70px'}"></p-toast>
  <div class="p-grid">
    <div class="p-col w-100">
      <br>
      Attenzione! Si desidera procedere con la cancellazione dell’Azienda inserita, delle eventuali lavorazioni e allegati?
      <br>
    </div>
  </div>
  <br>

  <div class="p-grid">
    <div class="p-col">
      <button
        pButton
        class="ui-button-secondary w-10m"
        type="button"
        label="SI"
        (click)="chiudiDialog($event)"></button>
    </div>
    <div
      class="p-col"
      [ngStyle]="{'text-align': 'right'}">
      <button
        class="w-10m"
        pButton
        type="button"
        label="NO"
        (click)="annulla()"></button>
    </div>
  </div>
</p-dialog>
