app-ricerca-fascicoli-new {
  .ui-paginator-bottom.ui-paginator.ui-widget.ui-widget-header.ui-unselectable-text.ui-helper-clearfix.ng-star-inserted {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    font-size: 20px;

    p-dropdown {
      display: none;
    }

    .ui-paginator-pages {
      display: block;
      height: auto;
    }
  }

  .command-button.command-button.command-button {
    font-size: 22px !important;
    height: auto !important;
    width: auto !important;
    background-color: #093956 !important;
  }

  h1 {
    color: #093956;
  }

  .ui-table .ui-table-tbody > tr {
    background-color: transparent;
  }
}
