<div class="boxgrey layout-actionmenu p-0">
  <p-accordion>
    <p-accordionTab
      [header]="header"
      [selected]="true">
      <p-table
        #table
        [columns]="cols"
        [value]="listaDomande"
        [autoLayout]="true"
        [paginator]="true"
        [rows]="elementiPerPagina"
        [totalRecords]="nrDomande"
        [lazy]="true"
        (onLazyLoad)="changePage($event)">
        <ng-template
          pTemplate="header"
          let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              [pSortableColumn]="col.fieldSort"
              [style.width]="col.width"
              [pSortableColumnDisabled]="col.field == null">
              {{col.header}}
              <p-sortIcon
                [field]="col.field"
                *ngIf="col.sortable"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-domanda
          let-i="rowIndex">
          <tr>
            <td>{{ domanda.nrDomanda }}</td>
            <td>{{ domanda.anno }}</td>
            <!-- <td>{{ domanda.tipo }}</td> -->
            <td>
              {{ domanda.stato | translate | replaceWithSpaceBy:'_' }}
            </td>
            <td>{{ domanda.cuaa }}</td>
            <td>
              {{ domanda.denominazione | clearString:'NO_DENOM'}}
            </td>
            <td>{{ domanda.protocollo }}</td>
            <td class="text-center">
              <button
                pButton
                class="command-button no-border-radius p-button-lg py-1 px-4 bg-primary"
                icon="pi pi-arrow-right"
                iconPos="left"
                (click)="visualizzaDomanda(domanda.nrDomanda)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="emptymessage"
          let-columns>
          <tr>
            <td [attr.colspan]="9">Nessuna {{footer}} presente</td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
  </p-accordion>
</div>
