<p-toast
  key="tst"
  [style]="{ marginTop: '70px' }"></p-toast>
<div class="ui-g ui-fluid mt-5">
  <div class="ui-grid-fixed mt-2">
    <div class="ui-g">
      <div class="p-col">
        <div class="p-grid p-align-center">
          <!-- Prima riga: Back -->
          <div class="p-col py-3">
            <a
              [routerLink]
              (click)="goBack()"
              class="d-flex align-items-center text-decoration-none color-primary">
              <i
                class="pi pi-chevron-left"
                style="font-size: 2rem; color: black"></i>
              <img src="assets/img/icons/uma-icon/icon-prelievi_black.svg">
              <span class="ml-2">
                <strong class="fs-20">{{ 'UMA.DICHIARAZIONE_CONSUMI.PRELIEVI' | translate | uppercase }}</strong>
            </span>
            </a>
          </div>
          <!-- Seconda riga - Lista prelievi -->
          <div class="p-grid">
            <div class="boxgrey">
              <div class="p-col-12 align-self-center w-100">
                <app-a4g-multi-table
                  [titles]="titles"
                  [cols]="cols"
                  [values]="datasource"></app-a4g-multi-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
