.box-fasc {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 100%;
    min-height: 350px;

    border: 1px solid #eeeef0;

    color: #16314e;
    background-color: #f6f6f8;

    text-align: center;

    .square-box-small {
        color: inherit !important;
    }

    .box__icon {
        height: 54px;
        width: 54px;
        margin-bottom: 16px;
        object-fit: contain;
    }

    .box__title,
    .box__subtitle {
        color: inherit !important;
    }

    .box__title {
        font-size: 20px;
        font-weight: 700;
    }

    .box__subtitle {
        margin-bottom: 16px;
        min-height: 48px;
    }

    .box__confirm {
        position: absolute;
        top: 5px;
        right: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;

        border: 1px solid #eeeeee;
        border-radius: 2px;

        background-color: #e7e7e7;
        color: white;
    }

    .box__confirm.is--done {
        background-color: var(--color-accent-green-alt);
    }

    .box__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 6px;

        border: 0;

        background-color: var(--color-accent-green-alt);
        color: white;

        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;

        appearance: none;
    }

    .box__button[disabled] {
        cursor: not-allowed;
        opacity: 0.3;
    }

    .btn-link {
        color: inherit;
        text-decoration: underline;
    }
}

.row-border {
    border-top: 1px solid black;

    &:last-of-type {
        margin-bottom: 20px;
        border-bottom: 1px solid black;
    }
}

.box-attachment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
}

.btn.btn-green {
    box-shadow: none;
}

.box-fasc-data {
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: #f6f6f7;

    h5 {
        color: #093956;
    }

    &__header {
        padding: 12px;
        color: #ffffff;
        background-color: #093956;

        h3 {
            margin-bottom: 0;

            color: inherit;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.ui-dropdown .ui-dropdown-clear-icon {
    right: 1em;
}

.caa-dropdown {
    hr {
        width: 100%;
        border-top: 1px solid rgba(#16314e, 0.39);
    }

    .ui-dropdown {
        min-width: 400px;
    }

    .ui-dropdown-label.ui-inputtext {
        padding-right: 40px !important;
        padding-bottom: 10px !important;
    }
}
