.popup-box {
    --popup-box-blue: #15a3d2;

    margin-top: 1rem;

    &__head {
        display: flex;
        align-items: center;

        padding: 1rem;
        margin-bottom: 0;

        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;

        color: var(--white);
        background-color: var(--popup-box-blue);

        .pi {
            margin-right: .25rem;
            font-size: 2rem;
            color: var(--white) !important;
        }
    }

    &__body {
        padding: 1rem;
        background-color: var(--color-bg-gray-light);

        border-left: 1px solid var(--color-border);
        border-right: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
    }

    p-panel {
        display: block;

        & + p-panel { margin-top: 1rem; }
    }

    .ui-panel {
        border: 0;
        border-top: 2px solid var(--color-accent-green);
        border-radius: 0;

        background-color: transparent;

        .ui-panel-titlebar {
            border: solid 1px var(--color-border-alt);
            border-top: 0;

            font-size: 1.25rem;
            font-weight: 600;

            background-color: #ebefee;
            color: var(--color-accent-green);

            img {
                max-width: 35px;
                margin-right: 1rem;
            }

            .ui-button {
                box-shadow: none;
                border-radius: 2px;
                border: solid 1px var(--color-accent-green-alt);

                font-size: 1rem;
                text-transform: uppercase;

                color: var(--color-accent-green-alt);
                background-color: var(--white);
            }

            .pi {
                font-size: 1.5rem;
                color: var(--color-accent-green-alt);
            }
        }

        .ui-panel-content { padding: 0; }
    }

    %panel-head {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        margin: .15rem 0;
        padding: .75rem 1rem;

        color: var(--dark) !important;
        background-color: var(--white) !important;

        border: 1px solid var(--color-border-alt);

        font-size: 1rem;
    }

    .ui-chkbox-label {
        font-size: 1rem;
        font-weight: 400 !important;
    }

    .checkbox--top-level {
        @extend %panel-head;

        position: relative;

        .ui-chkbox-label { margin: 0; }

        .ui-chkbox { margin-right: .75rem; }

        label { font-size: inherit; }

        // .ui-state-active:before {
        //     content: '';

        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index: -1;

        //     width: 100%;
        //     height: 100%;

        //     background-color: #d3e7b0;
        // }
    }

    .ui-accordion {
        border: 1px solid var(--color-border-alt);
        margin: .15rem 0;
    }

    .ui-accordion-header {
        @extend %panel-head;
        margin: 0;
        border: 0;

        & > a {
            color: inherit !important;
            &:hover{ text-decoration: none; }
        }

        &.ui-state-active .pi { color: var(--dark); }
    }

    .ui-accordion-content.ui-accordion-content {
        padding-left: 2.75rem;
        border: 0;
    }

    p-tree { height: auto !important; }

    .ui-tree { border: 0; }

    .ui-tree-container {
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        & > * {
            flex: 0 0 50%;
            max-width: 50%;
            display: block;
            margin-bottom: 1rem;
        }
    }

    .ui-treenode-content {
        display: flex;
        align-items: center;

    }

    .ui-treenode-children .ui-treenode-content { margin: .25rem 0; }

    .ui-treenode-label {
        white-space: normal;

        &.ui-state-highlight {
            color: var(--dark);
            background-color: transparent;
        }
    }

    .ui-chkbox-icon.pi-check {
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            z-index: 2;

            color: var(--white);
        }

        &:after {
            content: '';

            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;

            width: 100%;
            height: 100%;

            background-color: #093956;
        }
    }
}