.ui-toast.ui-toast {
    width: 21em;
}

.ui-toast-message.ui-toast-message {
    background-color: #ffffff;

    .ui-toast-close-icon {
        color: #333333;

        &:hover { text-decoration: none; }
    }

    .ui-toast-summary,
    .ui-toast-message-text-content { padding-bottom: 0; }

    .ui-toast-message-content { padding-right: 1.75rem; }

    .ui-toast-message-text-content { margin-left: 0; }

    .pi[class*="pi-"] + .ui-toast-message-text-content { margin-left: 2.75rem; }

    .ui-toast-icon {
        top: 50%;
        left: .5rem;
        transform: translateY(-50%);

        font-size: 2.5rem;
    }

    &.ui-toast-message-success.ui-toast-message-success .ui-toast-close-icon { color: #0d5f3f; }
    &.ui-toast-message-error.ui-toast-message-error .ui-toast-close-icon { color: #333333; }
}