<p-dialog
  #dialog
  id="popup-allegati-motivo"
  [(visible)]="display"
  [modal]="true"
  showEffect="fade"
  [closable]="false"
  [blockScroll]="true"
  [contentStyle]="{'overflow-y':'auto', 'overflow-x':'hidden','max-height':'90%', 'height':'auto'}"
  header="{{ intestazionePopup }}"
  [dismissableMask]="true"
  styleClass="small-dialog">
  <p-toast
    key="tst-dialog"
    [style]="{marginTop: '70px'}"></p-toast>
  <p-toast
    key="tst-allegati"
    [style]="{marginTop: '70px'}"></p-toast>

  <!-- Prima Sezione - Motivazione & Carica Allegato -->
  <div class="p-grid p-align-center">
    <div class="p-col">
      <div class="p-grid">
        <div class="p-col-4">
          <strong>Motivazione</strong>
          (obbligatoria)
        </div>
        <div class="p-col-4">
          <p-radioButton
            [disabled]="READONLY_MODE"
            name="motivazione"
            value="{{motivazioneEnum.ASSEGNAZIONE_SVINCOLATA}}"
            label="Assegnazione Svincolata"
            [(ngModel)]="motivazione"
            inputId="motivazione1"></p-radioButton>
        </div>
        <div class="p-col-2">
          <p-radioButton
            [disabled]="READONLY_MODE"
            name="motivazione"
            value="{{motivazioneEnum.ALTRO}}"
            label="Altro"
            [(ngModel)]="motivazione"
            inputId="motivazione2"></p-radioButton>
        </div>
        <div class="p-col-12">
          <hr>
        </div>
        <div class="p-col-12">
          <div
            class="ui-inputgroup"
            *ngIf="motivazione && !fileAllegato?.file">
            <div class="p-col">
              <strong>Allega documentazione</strong>
              (obbligatoria)
            </div>
            <button
              *ngIf="!READONLY_MODE"
              pButton
              type="button"
              [disabled]="motivoRecuperoAmmissibile?.allegati?.length > 4"
              label="CARICA ALLEGATO"
              (click)="caricaAllegato()"></button>
          </div>
        </div>
      </div>
      <input
        type="file"
        #fileCaricato
        id="fileCaricato"
        name="fileCaricato"
        onclick="this.value = null"
        (change)="onFileChange($event)"
        accept="{{ fileConfig.fileExt }}"
        class="inputUploadFile"
        style="display: none">
    </div>
  </div>

  <!-- File caricato -->
  <div class="p-grid p-align-center">
    <div
      class="p-col boxgrey"
      *ngIf="fileAllegato?.file">
      <div class="p-grid">
        <div class="p-col-12">
          <div class="ui-inputgroup">
            <div>
              <h6
                class="text-confirm"
                style="padding: 0 !important">
                <img
                  class="cursor-pointer"
                  src="assets/img/ico-x.jpg"
                  (click)="eliminaAllegatoCaricato()">
                <span>
                  <a
                    class="cursor-pointer p-col"
                    (click)="visualizzaAllegatoCaricato(index)"
                    target="_blank">
                    {{ fileAllegato.name }}
                  </a>
                </span>
              </h6>
            </div>
          </div>
        </div>
        <div class="p-col-5">
          <input
            type="text"
            pInputText
            style="border: 1px solid #323232; height:100%"
            [(ngModel)]="fileAllegato.descrizione"
            placeholder="Aggiungi descrizione file"
            maxlength="100"
            class="bg-white d-block w-100">
        </div>
        <div class="p-col-5">
          <p-dropdown
            [options]="tipologicheService.tipiDocumento"
            placeholder="Tipo documento"
            optionLabel="label"
            [(ngModel)]="tipoDocumento">
          </p-dropdown>
        </div>
        <div class="p-col-2">
          <button
            pButton
            label="AGGIUNGI"
            [disabled]="!validoSalvaAllegato()"
            (click)="salvaAllegato()"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabella file caricati -->
  <div class="p-grid p-align-center">
    <div
      class="p-col"
      *ngIf="motivoRecuperoAmmissibile?.allegati?.length">
      <p-table [value]="motivoRecuperoAmmissibile.allegati">
        <ng-template pTemplate="header">
          <tr>
            <th
              *ngIf="!READONLY_MODE"
              width="5%">
              <strong></strong>
            </th>
            <th width="35%">
              <strong>File</strong>
            </th>
            <th width="35%">
              <strong>Descrizione</strong>
            </th>
            <th width="25%">
              <strong>Tipo documento</strong>
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-allegato
          let-index="rowIndex">
          <tr>
            <td *ngIf="!READONLY_MODE">
              <img
                class="cursor-pointer"
                src="assets/img/ico-x.jpg"
                (click)="eliminaAllegato(index)">
            </td>
            <td>
              <span>
              <a
                  class="cursor-pointer p-col"
                  (click)="visualizzaAllegato(allegato)"
                  target="_blank">
                  {{ allegato.name }}
                </a>
            </span>
            </td>
            <td>{{ allegato.descrizione }}</td>
            <td>
              {{ descrizioneTipoDocumento(allegato.tipoDocumento) }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Separatore -->
  <br>

  <!-- Button bar -->
  <div class="p-grid p-justify-end">
    <div>
      <button
        pButton
        class="ui-button-secondary ui-button-text-only p-1 text-lowercase font-weight-normal shadow-none w-5m"
        type="button"
        label="Annulla"
        (click)="annulla()"></button>
    </div>
    <div>
      <button
        pButton
        class="ui-button-text-only p-1 text-uppercase font-weight-normal shadow-none w-5m"
        type="button"
        label="Salva"
        [disabled]="motivoRecuperoAmmissibile?.allegati?.length == 0 || READONLY_MODE"
        (click)="salva($event)"></button>
    </div>
  </div>

</p-dialog>
