$primaryColor:#4CAF50;
$primaryDarkColor:#388E3C;
$primaryLightColor:#81C784;
$primaryLightestColor:#E8F5E9;
$primaryTextColor:#ffffff;
$accentColor:#7CB342;
$accentDarkColor: #9CCC65;
$accentLightColor: #9CCC65;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';