$primaryColor:#093956;
$primaryDarkColor:#093956;
$primaryLightColor:#81C784;
$primaryLightestColor:#E8F5E9;
$primaryTextColor:#ffffff;
$accentColor:#05263e;
$accentDarkColor: #9CCC65;
$accentLightColor: #9CCC65;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';