<p-toast
  key="tst"
  [style]="{ marginTop: '70px' }"></p-toast>

<div class="container px-0">
  <h5 class="text-uppercase fw-700 mb-3">
    {{ "CreazioneProfilo.Fascicolo" | translate }}
  </h5>
  <form
    [formGroup]="filtersFormGroup">
    <div class="form-group">
      <label class="form-label">
        <!-- {{ "CreazioneProfilo.CfRequired" | translate }} -->
        CUAA nuovo fascicolo:
      </label><br>
      <input
        class="form-control"
        type="text"
        formControlName="cuaaFormControl"
        name="cuaaInputButton"
        pInputText
        appValidaCuaaCompleto><br><br>
      <button *ngIf="!datiFascicolo"
        (click)="search()"
        [disabled]="!filtersFormGroup.valid">{{ 'common.avanti' | translate }}</button>
      <button *ngIf="isCtxCreaUtente() && datiFascicolo"
        (click)="apri()">{{ 'common.creaFascicolo' | translate }}</button>
    </div>
  </form>

  <!-- <div>{{ datiFascicolo | json }}</div> -->

  <section *ngIf="datiFascicolo" class="box-fasc-data clearfix">
    <header class="box-fasc-data__header">
      <h3 class="h6">
        {{ "FAS_ANA.DATI_AZIENDA" | translate }}
      </h3>
    </header>
    <div class="p-grid">
      <div class="p-col-12 p-md-6">
        <div class="p-col-12">
          <h5 class="fw-700 text-uppercase">
            {{ "FAS_ANA.AZIENDA" | translate }}
          </h5>
        </div>
        <div class="p-col-6">
          <strong>{{ "common.CODICE_FISCALE" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.codiceFiscale
              ? datiFascicolo.codiceFiscale
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.PARTITA_IVA" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.partitaIva
              ? datiFascicolo.partitaIva
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.DENOMINAZIONE" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.denominazione
              ? datiFascicolo.denominazione
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.NATURA_GIURIDICA" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.naturaGiuridica
              ? datiFascicolo.naturaGiuridica
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.PROVINCIA" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.ubicazioneDitta?.provincia
              ? datiFascicolo.ubicazioneDitta.provincia
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.COMUNE" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.ubicazioneDitta?.comune
              ? datiFascicolo.ubicazioneDitta.comune
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.LOCALITA" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.ubicazioneDitta?.localita
              ? datiFascicolo.ubicazioneDitta.localita
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.INDIRIZZO" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{ indirizzoAzienda ? indirizzoAzienda : ("common.ND" | translate) }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.CAP" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.ubicazioneDitta?.cap
              ? datiFascicolo.ubicazioneDitta.cap
              : ("common.ND" | translate)
          }}
        </div>
      </div>
      <div class="p-col-12 p-md-6">
        <div class="p-col-12">
          <h5 class="fw-700 text-uppercase">
            {{ "FAS_ANA.TITOLARE_RL" | translate }}
          </h5>
        </div>
        <div class="p-col-6">
          <strong>{{ "common.NOMINATIVO" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.datiAnagraficiRappresentante?.nominativo
              ? datiFascicolo.datiAnagraficiRappresentante.nominativo
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.CODICE_FISCALE" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.datiAnagraficiRappresentante?.codiceFiscale
              ? datiFascicolo.datiAnagraficiRappresentante.codiceFiscale
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.PROV_NASC" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.datiAnagraficiRappresentante?.provinciaNascita
              ? datiFascicolo.datiAnagraficiRappresentante
                  .provinciaNascita
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.COM_NASC" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.datiAnagraficiRappresentante?.comuneNascita
              ? datiFascicolo.datiAnagraficiRappresentante.comuneNascita
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.DATA_NASC" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.datiAnagraficiRappresentante?.dataNascita
              ? (datiFascicolo.datiAnagraficiRappresentante.dataNascita
                | date: "dd/MM/yyyy")
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.PROV_RESIDENZA" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.domicilioFiscaleRappresentante?.provincia
              ? datiFascicolo.domicilioFiscaleRappresentante.provincia
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.COMUNE_RESIDENZA" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.domicilioFiscaleRappresentante?.comune
              ? datiFascicolo.domicilioFiscaleRappresentante.comune
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.LOCALITA_RESIDENZA" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.domicilioFiscaleRappresentante?.localita
              ? datiFascicolo.domicilioFiscaleRappresentante.localita
              : ("common.ND" | translate)
          }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.INDIRIZZO_RESIDENZA" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{ indirizzoLR ? indirizzoLR : ("common.ND" | translate) }}
        </div>
        <div class="p-col-6">
          <strong>{{ "common.CAP" | translate }}</strong>
        </div>
        <div class="p-col-6">
          {{
            datiFascicolo?.domicilioFiscaleRappresentante?.cap
              ? datiFascicolo.domicilioFiscaleRappresentante.cap
              : ("common.ND" | translate)
          }}
        </div>
      </div>
    </div>
  </section>
</div>
