<p-dialog
  header="{{ 'FAS_ANA.TRASFERIMENTO_OP' | translate }}"
  class="dialog-trasferimento-op"
  width="700"
  [(visible)]="popupRichiestaTrasferimentoOpen"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{'overflow':'auto','max-height':'900px'}"
  (onHide)="closePopup()">
  <div class="popup-approvazione popup--custom">
    <div
      class="p-grid ui-g-12"
      style="text-align:center">
      <div class="p-col">
        <img
          class="box__icon"
          src="assets/img/icons/icon-download.png">
        <br>
        <br>
        <div>
          <button
            style="min-width: max-content"
            pButton
            label="{{ 'FAS_ANA.SCARICA_MODULO_TRASFERIMENTO' | translate }}"
            class="btn-green"
            (click)="downloadModuloTrasferimento()">
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
