<div class="ui-grid-fixed">
  <p-toast
    key="tst-lav"
    [style]="{ marginTop: '70px' }"></p-toast>
  <h1 class="h5 text-uppercase font-weight-bold my-4">
      Lavorazioni
    </h1>
  <div class="boxgrey">
    <div class="layout-actionmenu">
      <div
        class="table-responsive"
        margin-top="30px">
        <label class="labelricerca my-3">
          {{ lavorazioni.count }} elementi trovati
        </label>
        <p-table
          [value]="lavorazioni.risultati"
          [columns]="cols"
          [paginator]="true"
          [rows]="elementiPagina"
          selectionMode="single"
          [(selection)]="selectedLavorazione"
          (onRowSelect)="onRowSelect($event)"
          [resetPageOnSort]="true"
          [totalRecords]="lavorazioni.count"
          [lazy]="true"
          (onLazyLoad)="changePage($event)">
          <ng-template
            pTemplate="caption"
            let-rowData>
            <div style="text-align:right">
              <button
                type="button"
                pButton
                icon="pi pi-plus"
                (click)="showDialogToAdd()"
                label="Aggiungi"></button>
            </div>
          </ng-template>
          <ng-template
            pTemplate="header"
            let-columns>
            <tr>
              <th
                *ngFor="let col of columns"
                [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData>
            <tr [pSelectableRow]="rowData">
              <td>{{rowData.indice}}</td>
              <td>{{rowData.nome}}</td>
              <td>{{rowData.tipologia}}</td>
              <td>{{rowData.unitaDiMisura}}</td>
              <td>{{rowData.gruppoLavorazione.nome}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="cols.length">Nessun risultato trovato</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Dettaglio lavorazione"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{width: '50%'}">
  <div
    class="p-grid ui-fluid"
    *ngIf="lavorazione">
    <div
      class="p-col-4"
      style="align-self: center;">
      <label for="indice">* Indice</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="indice"
        [(ngModel)]="lavorazione.indice"
        autofocus>
    </div>
    <div
      class="p-col-4"
      style="align-self: center;">
      <label for="nome">* Nome</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="nome"
        [(ngModel)]="lavorazione.nome">
    </div>
    <div
      class="p-col-4"
      style="align-self: center;">
      <label for="tipologia">* Tipologia</label>
    </div>
    <div class="p-col-8">
      <p-dropdown
        [options]="tipologiaLavorazioneEnum"
        [(ngModel)]="selectedTipologiaLavorazione"
        placeholder="Seleziona tipologia lavorazione"
        optionLabel="label"
        [showClear]="true">
      </p-dropdown>
    </div>
    <div
      class="p-col-4"
      style="align-self: center;">
      <label for="unitaDiMisura">* Unità di misura</label>
    </div>
    <div class="p-col-8">
      <p-dropdown
        [options]="unitaMisuraEnum"
        [(ngModel)]="selectedUnitaMisura"
        placeholder="Seleziona unità di misura"
        optionLabel="label"
        [showClear]="true">
      </p-dropdown>
    </div>
    <div
      class="p-col-4"
      style="align-self: center;">
      <label for="gruppoLavorazione">* Gruppo lavorazione</label>
    </div>
    <div class="p-col-8">
      <p-dropdown
        [options]="gruppiLavorazione"
        [(ngModel)]="lavorazione.gruppoLavorazione"
        placeholder="Seleziona gruppo lavorazione"
        optionLabel="nome"
        [showClear]="true">
      </p-dropdown>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="save()"
        label="Salva"></button>
    </div>
  </p-footer>
</p-dialog>
