<p-dialog
  header="{{ 'FAS_ANA.EREDI' | translate }}"
  class="dialog-rappr-legale"
  width="auto"
  [(visible)]="popupEredeOpen"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [closable]="true"
  [contentStyle]="{'overflow':'auto','max-height':'900px'}"
  (onHide)="closePopup()">
  <form
    #f="ngForm"
    *ngIf="eredeFormGroup"
    class="ui-fluid"
    [formGroup]="eredeFormGroup">
    <div class="p-grid">
      <div class="p-col-4 text-uppercase">
        <label for="cfErede">{{ 'EREDE.CF' | translate }}</label>
      </div>
      <div class="p-col-8">
        <div class="p-grid">
          <div class="p-col">
            <input
              size="40"
              pInputText
              id="cfErede"
              formControlName="cfErede"
              appValidaCf>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col">
            <small
              class="p-invalid"
              *ngIf="eredeFormGroup.controls.cfErede.invalid">
              {{ 'EREDE.CF_MANDATORY' | translate }}
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <div class="ui-g-6 text-left">
          <button
            pButton
            type="button"
            label="{{ 'ANNULLA' | translate }}"
            (click)="closePopup()"
            style="min-height:42px; box-shadow:none"
            [class]="'button-custom-bar-dark'">
          </button>
        </div>
        <div class="ui-g-6 text-right">
          <button
            pButton
            type="submit"
            (click)="onSaveErede()"
            label="{{ 'CONFERMA' | translate }}"
            style="min-height:42px; box-shadow:none; margin-right:10px;"
            [disabled]="f.invalid"
            [class]="'button-custom-bar-dark'">
          </button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
