.boxgrey_bottom h5 {
    color: #093956;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.boxgrey_bottom > h5 {
    border-bottom: 2px solid #093956;
}

.messaggiprocesso {
    margin-top: 20px;
}