<div id ="gis-footer" class="layout-footer ui-g-12">
  <div class="ui-grid">

    <div class="ui-g-12">
      <div class="ui-g-6 left-col">
        <a>
          <img class="logoimg" alt="logo-colored" src="assets/layout/images/logo_footer.png" style="width: 30px;" />
        </a>
        <span class="footer-text-left">
          <span>Sistema Informativo Integrato Agricoltura</span>
        </span>
      </div>
      <div class="ui-g-6 text-right">
        <a href="http://www.provincia.tn.it/" target="_blank">
          <img class="logoimg" alt="logo-colored" src="assets/layout/images/logo_provincia_footer.png" style="width: 35px;"/>
          <span class="footer-text-right">
            <span>Provincia Autonoma di Trento</span>
            <img alt="logo" src="assets/layout/images/trentino-logo.png"/>
          </span>
        </a>
      </div>
    </div>


  </div>
</div>