<div id="gis-layout" class="layout-topbar" style="z-index:0">
  <div class="ui-grid">
    <div class="ui-grid-12">
      <div class="ui-grid-2 left mgTop5">
        <a href="/" style="text-decoration:none !important;"><img alt="logo" src="assets/layout/images/logo_appag.png"
            style="width: 30px" />
        </a>
      </div>
      <div class="ui-grid-4 left mgLeft10">
        <h1>APPAG Trento</h1>
      </div>
      <div class="ui-grid-5 left mgTop5 mgLeft10">
        <span>Sistema Informativo Integrato Agricoltura della Provincia Autonoma di Trento</span>
      </div>
      <div class="menu-btn-wrapper">
        <ul id="gis-topbar" class="topbar-menu">
          <li class="profile-item">
            <span class="ui-icon-person" style="text-decoration:none"></span>
            <span class=" topbar-item-name profile-name" style="text-decoration:none">{{userId}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>