<div class="ui-grid-fixed">
  <p-toast
    key="tst-coeff"
    [style]="{ marginTop: '70px' }"></p-toast>
  <h1 class="h5 text-uppercase font-weight-bold my-4">
      Coefficienti
    </h1>
  <div class="boxgrey">
    <div class="layout-actionmenu">
      <div
        class="table-responsive"
        margin-top="30px">
        <label class="labelricerca my-3">
          {{ coefficienti.length }} elementi trovati
        </label>
        <p-table
          [value]="coefficienti"
          [columns]="cols"
          [paginator]="true"
          [rows]="10"
          selectionMode="single"
          [(selection)]="selectedCoefficiente"
          (onRowSelect)="onRowSelect($event)">
          <ng-template
            pTemplate="caption"
            let-rowData>
            <div style="text-align:right">
              <button
                type="button"
                pButton
                icon="pi pi-plus"
                (click)="showDialogToAdd()"
                label="Add"></button>
            </div>
          </ng-template>
          <ng-template
            pTemplate="header"
            let-columns>
            <tr>
              <th
                *ngFor="let col of columns"
                [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowData>
            <tr [pSelectableRow]="rowData">
              <td>{{rowData.coefficiente}}</td>
              <td>{{rowData.lavorazione}}</td>
              <td>{{rowData.annoInizio}}</td>
              <td>{{rowData.annoFine}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="cols.length">Nessun risultato trovato</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Dettaglio coefficiente"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{width: '40%'}">
  <div
    class="p-grid ui-fluid"
    *ngIf="coefficiente">
    <div
      class="p-col-4"
      style="align-self: center;">
      <label for="coefficiente">* Coefficiente</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="coefficiente"
        [(ngModel)]="coefficiente.coefficiente"
        autofocus>
    </div>
    <div
      class="p-col-4"
      style="align-self: center;">
      <label for="lavorazione">* Lavorazione</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="lavorazione"
        [(ngModel)]="coefficiente.lavorazione">
    </div>
    <div
      class="p-col-4"
      style="align-self: center;">
      <label for="annoInizio">* Anno inizio</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="annoInizio"
        [(ngModel)]="coefficiente.annoInizio">
    </div>
    <div
      class="p-col-4"
      style="align-self: center;">
      <label for="annoFine">* Anno fine</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="annoFine"
        [(ngModel)]="coefficiente.annoFine">
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="save()"
        label="Salva"></button>
    </div>
  </p-footer>
</p-dialog>
