@import "../../uma.index.style.scss";

:host {
  .auto-cursor {
    cursor: auto;
  }

  .w-10m {
    width: 10em;
  }

  .cell {
    border: 1px solid $lightgray;
    cursor: pointer;
  }

  .cell.disabled > .cell-content {
    opacity: 0.5;
    cursor: auto;
  }

  div.ui-header-sezioni-uma {
    background-color: $primaryTextColor;
    border-top: 2px solid $primaryColor;
    border-left: 1px solid $lightgray;
    border-right: 1px solid $lightgray;
    font-size: 1em;
  }

  .block-100 {
    width: 100%;
    display: block;
  }

  .button-accent-alt {
    border: 2px solid $accentColor;
    color: $accentColor !important;
    font-weight: bold;

    & > ::ng-deep span.ui-button-icon-right.ui-clickable.pi.pi-trash {
      color: $accentColor !important;
      font-size: x-large !important;
    }
  }

  ::ng-deep .ui-toast-message-custom {
    background-color: $primaryTextColor;
    color: $primaryColor;
  }

  ::ng-deep .ui-toast-message-custom .ui-toast-close-icon {
    color: $primaryColor;
  }

  ::ng-deep .ui-dialog > {
    .ui-dialog-content > {
      .ui-confirmdialog-message {
        white-space: pre-line;
      }
    }
  }
}
  