.button-custom-bar-dark {
  background-color: #0e5f3f;
  right: 0;
  text-transform: uppercase;
  text-justify: auto;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 10px;
}
.button-custom-bar-dark-grey {
  background-color: rgb(155, 155, 155);
  right: 0;
  text-transform: uppercase;
  text-justify: auto;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 10px;
}
